/*
1) Content (Contenido): Es el área donde se muestra el
contenido (texto, imágenes, etc.) del elemento.

2) Padding (Relleno): Es el espacio entre el contenido y el
borde. Si el elemento tiene background-color, este color
también se aplicará al área de padding.

3) Border (Borde): Es el borde alrededor del padding y el
contenido. El grosor, estilo y color del borde se pueden
personalizar con propiedades CSS como border-width,
border-style, y border-color.

4) Margin (Margen): Es el espacio externo alrededor del
borde. El margin no tiene color y separa la caja del
elemento de otros elementos en la página.
*/

div{
    width: 500px;  /*Ancho de la caja*/
    height: 400px; /*Alto de la caja*/
    padding: 30px; /*Espacio interior de la caja y el contenido*/
    border: 10px solid black; /*Ancho del borde y color, de la caja*/
    margin: 100px; /*Espacio esteriro de la caja y la pagina*/
    background-color: lightcyan; /*Color de fondo de la caja*/
}

/*Esta es mi primera caja*/

/*Cuando usemos cajas pondremos etiwuetas div o section, si no nos especifican ninguna*/